.landingPage {
  margin-bottom: 15em;
  position: relative;
}

.imagenLogoLanding {
  position: absolute;
  z-index: 2;
  filter: brightness(0) invert(1);
  height: 10em;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.landing-backgroundImage {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  filter: brightness(0.4);
}

.landingPage-slider {
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.landingPage-slider-desktop {
  display: none;
}

.slide {
  opacity: 0.8;
}

.slide.active {
  opacity: 1;
  transition: all 3s ease;
}

.landing-slogan {
  position: absolute;
  bottom: 35%;
  z-index: 1;
  width: 100%;
  path {
    fill: #fff;
  }
}

.landing-sloganFondo {
  display: none;
}
.landing-sloganFondo-desktop {
  display: none;
  background-color: $primary;
  position: absolute;
  z-index: -1;
  width: 50%;
  margin-top: -1.5em;
}
.mobile {
  display: none;
}
.desktop {
  display: flex;
  color: #fff;
  justify-content: center;
  text-align: center;
  font-size: 2em;
  transform: translateY(75%);
}

.arrows {
  transform: translateY(300%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5em;
  margin: 1em auto 0;
  text-align: end;
  .btnArrowDer {
    text-align: start;
  }
  svg {
    width: 4em;
  }
}

.arrowButton {
  padding: 1em;

  &:hover {
    cursor: default;
  }
}
.derArrow,
.izqArrow {
  transition: all 0.3s ease;
}
.derArrow:hover,
.izqArrow:hover {
  transform: scale(1.1);
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .imagenLogoLanding {
    height: 30%;
    top: 35%;
    z-index: 2;
  }

  .desktop {
    font-size: 3em;
    transform: translateY(90%) !important;
  }
  .arrows {
    transform: translateY(400%) !important;
    gap: 10em;
  }
}

@media only screen and (min-width: 1200px) {
  .desktop {
    font-size: 3em;
  }
  //   .landingPage {
  //     height: 100vh;
  //     width: 100%;
  //     display: flex;
  //     align-items: flex-start;
  //     transform: translateY(20%);
  //   }

  //   .landingPage-slider-desktop {
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //     margin-left: 10vw;
  //     width: 50em;
  //     height: 50em;
  //     max-height: 55%;
  //     margin-right: 2em;
  //     z-index: 3;
  //   }

  //   .landing-slogan {
  //     position: static;
  //     display: flex;
  //     flex-direction: column;
  //     align-items: center;
  //     height: 100%;
  //     path {
  //       fill: $primary;
  //     }
  //   }

  //   .landingPage-slider {
  //     display: none;
  //   }
  //   .landing-backgroundImage {
  //     object-fit: cover;
  //     width: 600px;
  //     height: 600px;
  //   }

  //   .landing-slogan {
  //     display: flex;
  //     flex-direction: column;
  //     align-items: center;
  //     height: 100%;
  //   }
  //   .landing-sloganFondo {
  //     display: none;
  //   }
  //   .landing-sloganFondo-desktop {
  //     display: block;
  //     position: absolute;
  //     transform: translateY(-18%);
  //     z-index: -1;
  //     left: 0;
  //     height: 100vh;
  //     width: 50%;
  //   }

  //   .arrows {
  //     gap: 10em;
  //     transform: translateX(0) !important;
  //   }
  //   .mobile {
  //     display: none;
  //   }
  //   .desktop {
  //     line-height: 1.8em;
  //     height: 7.5em;
  //     display: block;
  //     color: $primary;
  //     transform: translateY(0) !important;
  //     text-align: left;
  //   }

  //   .slide {
  //     opacity: 1;
  //   }
  // }
}
@media only screen and (min-width: 1400px) {
  //   .landingPage-slider-desktop {
  //     margin-left: 20vw;
  //   }

  //   .landing-slogan {
  //     align-items: start;
  //   }

  .desktop {
    font-size: 4em;
  }

  .arrows {
    font-size: 1.2em;
  }

  //   .arrows {
  //     margin: 1em 4em;
  //   }
  // }
}
