.landingPage {
  margin-bottom: 20vh;
}

.landing-backgroundImage {
  width: 100vw;
  filter: brightness(0.8);
}

.landingPage-slider {
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.landingPage-slider-desktop {
  display: none;
}

.slide {
  opacity: 0;
  transform: scale(1);
}

.slide.active {
  opacity: 1;
  transition: all 3s ease;
  transform: scale(1.08);
}

.landing-slogan {
  //color: #fff;
  font-size: 0.8rem;
  margin-top: 2em;
  overflow-x: hidden;

  .landing-sloganFondo {
    background-color: $primary;
    position: absolute;
    z-index: -1;
    height: 12em;
    width: 50%;
    // ?Para dejar el cuadrado en su mismo lugar
    margin-top: -1.5em;
  }
  .landing-sloganFondo-desktop {
    display: none;
    background-color: $primary;
    position: absolute;
    z-index: -1;
    height: 12em;
    width: 50%;
    margin-top: -1.5em;
  }
  .mobile {
    //margin-top: 1.5em;
    // ?Para centrar el texto de manera igual que figma
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.3em;
    .izq {
      text-align: right;
      color: #fff;
    }
    .der {
      color: $primary;
    }
  }
  .desktop {
    display: none;
  }

  .arrows {
    display: grid;
    grid-template-columns: 1fr 1fr;
    // width: 9.6em;
    // display: flex;
    // justify-content: space-between;
    margin: 1em auto 0;
    text-align: end;
    .btnArrowDer {
      text-align: start;
    }
    svg {
      width: 4em;
    }
  }

  .arrowButton {
    padding: 1em;

    &:hover {
      cursor: default;
    }
  }
  .derArrow,
  .izqArrow {
    transition: all 0.3s ease;
  }
  .derArrow:hover,
  .izqArrow:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

@media only screen and (min-width: 1200px) {
  .landingPage {
    height: 100vh;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: flex-start;
    transform: translateY(20%);
  }

  .landingPage-slider-desktop {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: translate(40%);
    max-width: 65%;
    max-height: 55%;
  }

  .landingPage-slider {
    display: none;
  }
  .landing-backgroundImage {
    object-fit: cover;
    width: auto;
    height: auto;
  }

  .landing-slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    .landing-sloganFondo {
      display: none;
    }
    .landing-sloganFondo-desktop {
      display: block;
      position: absolute;
      transform: translateY(-21%);
      z-index: -1;
      left: 0;
      height: 101%;
      width: 50%;
    }

    .arrows {
      gap: 10em;
      .btnArrowIzq {
        path {
          fill: $primary;
        }
      }
    }
    .mobile {
      display: none;
    }
    .desktop {
      line-height: 2.2em;
      height: 7.5em;
      transform: translate(-5%);
      margin-top: 1em;
      font-size: 3.5em;
      display: block;
      color: $primary;
    }
  }
  .slide {
    opacity: 1;
  }
}
