.projectLanding {
  margin-bottom: 10em;
  position: relative;
  .projectLanding-basicInfo {
    max-width: 100%;
    img {
      width: 100%;
      object-fit: cover;
      height: 100vh;
      object-position: center;
    }
    .projectLanding-basicInfo-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      text-align: center;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      background-color: rgba($color: $primary, $alpha: 0.8);
      color: #fff;

      h2 {
        font-size: 3em;
        font-style: italic;
        span {
          color: $secondary;
        }
      }
      .projectLanding-basicInfo-content-feature {
        margin-bottom: 2em;
        font-size: 1.2em;
      }
      .projectLanding-basicInfo-content-feature-info {
        margin-bottom: 1em;
        h3,
        p {
          font-weight: lighter;
          font-style: italic;
        }
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  .projectLanding {
    .projectLanding-basicInfo {
      img {
        height: 100vh;
        object-position: center;
      }
      .projectLanding-basicInfo-content {
        justify-content: space-around;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 50vh;

        h2 {
          margin: 0;
          font-size: 5em;
        }
        .projectLanding-basicInfo-content-feature {
          display: flex;
          margin: 0 auto;
          justify-content: space-between;
          width: 75%;
        }
        .projectLanding-basicInfo-content-feature-info {
          h3 {
            font-size: 2.2em;
            margin-bottom: 0.5em;
          }
          p {
            font-size: 1.2em;
          }
        }
      }
    }
  }
}
