* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

// *            GOBLAL CONFIGS          * //

.lineas {
  display: none;
}

@media only screen and (min-width: 1200px) {
  .lineas {
    background-color: #2a2932;
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    div {
      background-color: #fff;
      border-left: 0.5px solid rgba($color: #2a2932, $alpha: 0.1);
    }
  }
}

button {
  all: unset;
  &:hover {
    cursor: pointer;
  }
}

.marginSide {
  margin: 0 2em;
  // width: 95%;
  // max-width: 1200px;
}

.notSeen {
  transition: opacity 0.3s ease;
  opacity: 0 !important;
}

.noBorder {
  text-decoration: none;
}

.negativeZindex {
  z-index: -1 !important;
}
@media only screen and (min-width: 768px) {
  .marginSide {
    margin: 0 4em;
  }
}

.homepage-title {
  transition: transform 0.1s;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-style: italic;
  font-weight: lighter;
  font-size: 3rem;
  margin-bottom: 1em;
  .homepage-titleSpan {
    font-size: 4.5rem;
  }
}

.contentTitle {
  margin-bottom: 1em;
  font-weight: 700;
  span {
    color: #ca2527;
  }
}

.boton-rojo {
  color: #fff;
  background-color: #ca2527;
  padding: 1em;
  border-radius: 1em;
}

.difumidado-rojo {
  background-color: rgba(#ca2527, 0.6) !important;
}

.boton-negro {
  color: #fff;
  background-color: #2a2932;
  padding: 1em;
  border-radius: 1em;
}

.difumidado-negro {
  background-color: rgba(#2a2932, 0.6) !important;
}

.form-group {
  input {
    all: unset;
    border-bottom: 1px solid #ca2527;
    width: 15em;
  }
  ::placeholder {
    color: #fff;
  }

  .form-labelMensaje {
    background-color: #fff;
    height: 10em;
    width: 100%;
    color: #2a2932;
    text-align: start;
    resize: none;

    &:focus {
      outline: none;
    }
  }
}
.error {
  opacity: 1;
  transition: opacity 0.3s ease;
  background-color: rgba($color: red, $alpha: 0.7);
  width: 100%;
  text-transform: uppercase;
  padding: 1em;
  font-weight: bold;
  font-size: 1.2em;
  color: #fff;
  text-align: center;
  margin-bottom: 2em;
}

.exito {
  opacity: 1;
  transition: opacity 0.3s ease;
  background-color: rgba($color: green, $alpha: 0.7);
  width: 100%;
  text-transform: uppercase;
  padding: 1em;
  font-weight: bold;
  font-size: 1.2em;
  color: #fff;
  text-align: center;
  margin-bottom: 2em;
}

@media only screen and (min-width: 1200px) {
  .homepage-title {
    display: block;
    width: 100%;
    font-size: 10vw;
    .homepage-titleSpan {
      all: unset;
    }
  }
  .mb-5 {
    margin-bottom: 0.1em;
    font-size: 8em;
  }
  .boton-rojo {
    font-size: 1.2em;
  }
}
